* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Odin";
    src: url(./fonts/norse-bold-webfont.woff2) format("woff2"),
         url(./fonts/norse-bold-webfont.woff) format("woff");
}

body {
    background-color: rgb(40, 40, 40);
    color: #000;
    font-family: "Helvetica", sans-serif;
}

.main {
    height: 720px;
    width: 1280px;
    margin: 2% auto 0;
    background-color: #fff;
    display: flex;
}

.left-side {
    width: 700px;
    height: 100%;
    background-image: url(./images/photo-1585202900225-6d3ac20a6962.avif);
    display: flex;
    flex-direction: column;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5% 0;
    margin-top: 30%;
}

img {
    width: 100px;
}

.odin {
    font-size: 50px;
    font-family: "Odin", sans-serif;
    color: #fff;
}

.right-side {
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 245, 245);
    justify-content: center;
}

.top {
    flex: 2;
    padding-top: 90px;
}

.top-text {
    margin-bottom: 20px;
}

.top-text,
.top-text-bottom {
    margin-left: 50px;
    font-size: 25px;
}

.middle {
    flex: 3;
}

form {
    font-size: 25px;
}

.form-background {
    background-color: #fff;
    padding: 50px 0 50px 50px;
}

.form-text {
    margin-bottom: 20px;
}

.items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.item {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.error:invalid {
    border: 2px solid red;
}

label {
    font-size: 13px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
}

input:focus {
    outline: none;
    border: 2px solid blue;
}

input {
    width: 290px;
    padding: 0 10px;
    border-color: #e5e7eb;
    border-radius: 5px;
    border-style: solid;
    height: 30px;
    font-size: 18px;
}

button {
    background-color: #596d48;
    margin-left: 50px;
    margin-top: 25px;
    padding: 15px 30px;
    color: #fff;
    font-weight: bolder;
    border-radius: 5px;
    font-size: 15px;
}

.bottom {
    flex: 1;
}

.bottom-text {
    margin-left: 50px;
    margin-top: 25px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #596d48;
}